<div id="edit_user">
  <div class="mini_width">
    <div class="edit_wrapper">
      <h2 class="edit_title">プロフィールの編集</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, autofocus: true, placeholder: '名前' %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス' %>
        </div>

        <div class="field">
          <%= f.text_area :profile, autofocus: true, placeholder: '自己紹介' %>
        </div>

        <div class="field">
          <%= f.label "画像をアップロード" %>
          <%= f.file_field :image %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <p class="input_above"><%= @minimum_password_length %> 文字以上(変更しない場合は空白のまま)</p>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '新しいパスワード' %>
          <% if @minimum_password_length %>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'もう一度、新しいパスワード' %>
        </div>

        <div class="field">
          <p class="input_above">(変更を確認するには、現在のパスワードが必要です)</p>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: '現在のパスワード' %>
        </div>

        <div class="actions">
          <%= f.submit "更新する" %>
        </div>
      <% end %>
        <div class="return">
          <%= link_to "戻る", :back %>
        </div>
      </div>
  </div>
</div>