<%= link_to "/posts/#{post.id}", class: "post_card_link" do %> 
    <div class="post_card">
        <div class="post_img">
            <% if post.img? %>
                <%= image_tag post.img.url %>
            <% else %>
                <%= image_tag"no-image.png", id: "assets" %>
            <% end %>
        </div>
        <div class="post_user">
            <object>
                <a href="<%= "/users/#{post.user.id}" %>" class="user_img">
                    <% if post.user.image? %>
                        <%= image_tag post.user.image.url %>
                    <% else %>
                        <%= image_tag"no-image.png", id: "assets" %>
                    <% end %>
                </a>
            </object>
            <object>
                <a href="<%= "/users/#{post.user.id}" %>" class="post_name">
                    <%= post.user.name %>
                </a>
            </object>
        </div>
        <div class="post_text">
            <div class="card_title">
                <%= post.title %>
            </div>
            <div class="card_bottom">
                <div class="everyone_common">
                    <div class="good">
                        <% if current_user.already_liked?(post) %>
                            <object>
                                <%= button_to "/posts/#{post.id}/likes", method: :delete, remote: true do %>
                                    <i class="fas fa-heart good_icon"></i>
                                <% end %>
                            </object>
                        <% else %>
                            <object>
                                <%= button_to post_likes_path(post), method: :post, remote: true do %>
                                    <i class="far fa-heart good_icon"></i>
                                <% end %>
                            </object>
                        <% end %>
                        <%= post.liked_users.count %>
                    </div>
                    <div class="card_date">
                        <%= post.date %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>