
<div id="post_show">
  <div class="large_width">
    <div class="post_show_img">
      <div class="post_back">
        <div class="show_card_bottom">
          <%= @post.created_at.to_s(:datetime_base) %>
          <div class="good_field">
            <% if current_user.already_liked?(@post) %>
              <%= button_to "/posts/#{@post.id}/likes", method: :delete do %>
                <i class="fas fa-heart good_icon"></i>
              <% end %>
            <% else %>
              <%= button_to post_likes_path(@post) do %>
                <i class="far fa-heart good_icon"></i>
              <% end %>
            <% end %>
            <div class="good_count">
              <%= @post.likes.count %>
            </div>
          </div>
          <div class="post_show_current_user">
            <% if current_user.id == @post.user.id %>
              <%= link_to '編集する', edit_post_path(@post) %> 
              <%= link_to @post, method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
                  <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="post_show_state">
      <div class="post_show">
        <div class="post_show_card">
          <div class="post_show_top">
            <div class="user_img">
              <%= link_to "/users/#{@post.user.id}" do %>
                <% if @post.user.image? %>
                    <%= image_tag @post.user.image.url %>
                <% else %>
                    <%= image_tag"no-image.png", id: "assets" %>
                <% end %>
              <% end %>
            </div>
            <div class="post_user_name">
              <%= link_to "/users/#{@post.user.id}" do %>
                <%= @post.user.name %>
              <% end %>
            </div>
          </div>
          <p class="post_form_date">
            <%= @post.date %>
          </p>
          <h2 class="post_title">
            <%= @post.title %>
          </h2>
            <div class="post_show_img">
              <% if @post.img? %>
                  <%= image_tag @post.img.url %>
              <% else %>
                  <%= image_tag"no-image.png", id: "assets" %>
              <% end %>
            </div>
          <div class="post_form_list">
            <p class="post_form_sub">収益</p>
            <p class="post_form_data">
              <%= @post.price %>円
            </p>
          </div>
          <div class="post_form_list">
            <p class="post_form_sub">テクニカル分析</p>
            <p class="post_form_data_area">
              <%= @post.profit %>
            </p>
          </div>
          <div class="post_form_list">
            <p class="post_form_sub">NEWS</p>
            <p class="post_form_data_area">
              <%= @post.news %>
            </p>
          </div>
          <div class="post_form_list">
            <p class="post_form_sub">取引内容</p>
            <p class="post_form_data_area">
              <%= @post.factor %>
            </p>
          </div>
        </div>
        </div>
        <div class="side_bar">
          <thead>
            <div class="search_form">
              <%= search_form_for @search do |f| %>
                <div class="search_field">
                  <%= f.search_field :title_cont, placeholder: 'キーワード検索' %>
                  <%= f.submit "検索" %>
                </div>
              <% end %>

              <%= search_form_for @search ,url: "/users" do |f| %>
                <div class="search_field">
                  <%= f.search_field :name_cont, placeholder: 'ユーザー検索' %>
                  <%= f.submit "検索" %>
                </div>
              <% end %>
              <%= line_chart Post.where(user_id: current_user.id).group(:date).limit(5).sum(:price) %>
              <div class="chart_show">
                <div id="img_fix">
                  <% if @post.img? %>
                      <%= image_tag @post.img.url %>
                  <% else %>
                      <%= image_tag"no-image.png", id: "assets" %>
                  <% end %>
                </div>
                <div class="chart_show_price">
                  <div class="price_list">
                    <div class="price_state">
                      <p class="post_form_sub">始値</p>
                      <p class="post_form_data">
                        <%= @post.open %>円
                      </p>
                    </div>
                    <div class="price_state">
                      <p class="post_form_sub">終値</p>
                      <p class="post_form_data">
                        <%= @post.close %>円
                      </p>
                    </div>
                  </div>
                  <div class="price_list">
                    <div class="price_state">
                      <p class="post_form_sub red">高値</p>
                      <p class="post_form_data">
                        <%= @post.high %>円
                      </p>
                    </div>
                    <div class="price_state">
                      <p class="post_form_sub blue">安値</p>
                      <p class="post_form_data">
                        <%= @post.low %>円
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </thead>
        </div>
        <!-- <div class="good_user">
          <% @post.liked_users.each do |user| %>
            <h2 class="good_user_title">いいねしたユーザー</h2>
            <%= link_to "/users/#{user.id}", class: "good_user_link" do %>
              <div class="good_user_list">
                <div class="user_img">
                  <% if @post.user.image? %>
                    <%= image_tag @post.user.image.url %>
                  <% else %>
                    <%= image_tag"no-image.png", id: "assets" %>
                  <% end %>
                </div>
                <div class="good_user_name">
                  <%= user.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div> -->
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    var fix = $("#img_fix");             //メニューオブジェクトを格納
    var fixTop = fix.offset().top;             //メニューの縦座標を格納
    $(window).scroll(function () {             //スクロールが発生したら開始
      if($(window).scrollTop() >= fixTop) {    //スクロール時の縦座標がメニューの縦座標以上なら…
        fix.css("position","fixed");           //メニューに position:fixed 付与
        fix.css("top","0");                    //メニューに top:0 付与
      } else {
        fix.css("position","");                //メニューの position を空に
        fix.css("top","");                     //メニューの top を空に
      }
    });
  });
</script>